---
layout: blog
---

<article id="main">
    <header class="special container">
        <span class="icon fa-comment-o"></span>
        <h2><strong>Blog</strong></h2>
        <p>Thoughts, ideas and experiences from our team</p>
    </header>
    <section class="wrapper style4 container clip">

      {% for post in site.posts limit:1%}
      <div class="row">
        <div>
        <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
              {{ post.excerpt }}
        <p>
          <a href="{{ post.url }}">Read More</a>
        </p>
        </div>
      </div>
      {% endfor %}

        {% for post in site.posts offset:1 %}
             {% capture currentmod %}{{ forloop.index0 | mod:2 }}{% endcapture %}

             {% if currentmod == '0' or forloop.first %}
             <div class="row">
                 {% endif %}

                 <div class="6u 12u(narrower)">
                     <h3><a href="{{post.url}}">{{post.title}}</a></h3>
                     <hr />
                     <p>{{post.excerpt}}</p>
                     <p>
                       <a href="{{ post.url }}">Read More</a>
                     </p>
                 </div>

                 {% if currentmod == '1' or forloop.last %}
             </div>
             {% endif %}
        {% endfor %}

    </section>
</article>
