---
layout: default
---

    <!-- Main -->
      <article id="main">

        <header class="special container">
          <span class="icon fa-chevron-right"></span>
          <h2>Our <strong>values</strong> drive us</h2>
          <p>How we work is not for everyone, and we're happy to explain how and why.</p>
        </header>

        <!-- One -->
          <section class="wrapper style4 container clip">

            <!-- Content -->
              <div class="content">
                <section>
                  <header>
                    <h3>We make things <strong>better</strong></h3>
                  </header>
                  <p>Businesses are made from the hard-earned money of shareholders and the easily-spent time of the people that work in them. Both are too valuable to waste by repeating the mistakes of the past, accepting inefficiencies, or holding back from changing things for the better.</p>
                  <header>
                    <h3>We seek opportunities to <strong>learn</strong></h3>
                  </header>
                  <p>The world is changing at an ever-faster rate. The technologies and businesses that are changing the world now do not look like those of five years ago, and the only way to avoid obsolescence is to take every opportunity to learn.</p>
                  <p>Failures are an opportunity to learn; more on that later. We hold weekly retrospectives to learn from the team’s activities and tweak our processes. We encourage engineers to read the latest tech news whilst they’re waiting for tests to complete. The whole team owns their team process, and is equally responsible for improving it. Pair-programming provides immediate feedback to engineers, and helps spread expertise amongst the team.</p>
                  <header>
                    <h3>We <strong>embrace failure</strong></h3>
                  </header>
                  <p>The only true failure is a failure to learn. If failures are swept under the carpet then vital information that could inform improvements is lost; and so it is critical that members of the team are not afraid to admit when something has gone wrong.</p>
                  <p>When a technical problem occurs, we get to the bottom of it and make sure it doesn’t happen again through engineering and automation. When there is a problem with a team or a process, we discuss it in one of our regular retrospectives, and make an action to try and improve it.</p>
                  <header>
                    <h3>We <strong>call out</strong> what isn’t right</h3>
                  </header>
                  <p>A problem can only be fixed if it is acknowledged. We do not keep quiet when we see something that is not right, be that a technical problem, an issue with process, personal conduct, or anything else.</p>
                  <header>
                    <h3>We <strong>don’t do overtime</strong> or ‘crunch’</h3>
                  </header>
                  <p>Do we do our best work after working for eight hours already? No. We don’t do anything other than our best work, all day. Overtime and ‘crunch’ before deadlines are symptoms of poor planning or poor resourcing, and as such that information should be exposed to those responsible for those functions and acted upon.</p>
                  <header>
                    <h3>We allow <strong>divergence</strong></h3>
                  </header>
                  <p>Each team is responsible for its own decisions as its members are the ones with the most contextual knowledge of the issues at hand. We do not enforce standards, and instead imbue values, foster communication and facilitate cross-pollination of ideas. This divergence allows each team to progress unimpeded, creates more opportunities for learning, and allows the best ideas to be harvested and shared.</p>
                  <header>
                    <h3>We favour <strong>human contact</strong></h3>
                  </header>
                  <p>We pair in-person every day. We have stand-ups in person. We co-locate, and when that isn’t possible we use remote-pairing technology and video links.</p>
                  <p>Humans have evolved a host of responses based on the immediacy of contact with other humans, which ensure that antisocial behaviour is inhibited. The breadth of human body language communicates intent much more richly than electronic media, reducing the likelihood of misunderstanding or building resentment. Lone workers behind the facade of email invite a culture of passive-aggressive mistrust.</p>
                  <header>
                    <h3>We are <strong>inclusive</strong></h3>
                  </header>
                  <p>Diverse teams have diverse strengths. Team members are respected for their attitude, their effort, and their technical ability. We learn from the baggage and past mistakes of the IT industry: we do not inherit it.</p>
                </section>
              </div>

          </section>

        <!-- Two -->
          <section class="wrapper style1 container special">
            <div class="row">
              {% include service-boxout.html %}
              {% include engineering-boxout.html %}
              {% include rate-boxout.html %}
            </div>
          </section>

      </article>
