---
layout: default
---

    <!-- Main -->
      <article id="main">

        <header class="special container">
          <span class="icon fa-cloud"></span>
          <h2><strong>Service</strong> Definition</h2>
          <p>We offer holistic services to help you deliver value faster via PaaS.</p>
        </header>
          
        <!-- One -->
          <section class="wrapper style4 container clip">
          
            <!-- Content -->
              <div class="content">
                <section>
                  
                  <div class="row">
                    <div class="6u 12u(narrower)">
                      <section>
                        <header>
                          <h3>Organisational <strong>change</strong></h3>
                        </header>
                        <p>We guide businesses through the changes required to unlock the full potential of PaaS technology. We help organisations shift from cost management to innovation accounting, and from delivering projects to products. Rather than a set list of best practices, our consultants will identify improvements specific to each individual business.</p>
                      </section>
                    </div>
                    <div class="6u 12u(narrower)">
                      <section>
                        <header>
                          <h3><strong>Cloud Foundry</strong> Development</h3>
                        </header>
                        <p>Our engineers can assist with the day-to-day concerns of architecting, adopting and operating Cloud Foundry. We have: </p>
                        <ul class="default">
                          <li><strong>Operated, supported and upgraded</strong> Cloud Foundry in production</li>
                          <li>Developed <strong>Service Brokers</strong>, including those integrating with heritage off-PaaS systems</li>
                          <li>Created <strong>automation and monitoring</strong> solutions</li>
                        </ul>
                      </section>
                    </div>
                  </div>

                  <div class="row">
                    <div class="6u 12u(narrower)">
                      <section>
                        <header>
                          <h3><strong>Continuous</strong> Delivery</h3>
                        </header>
                        <p>Whilst PaaS enables faster delivery of applications, it is only realised if an organisation can harness that ability.</p>
                        <p>We build automated Continous Delivery pipelines, leveraging technologies like <strong>BOSH</strong> and <strong>Concourse</strong>, which ensure that code gets into the hands of users as soon as it's proven to work.</p>
                      </section>
                    </div>
                    <div class="6u 12u(narrower)">
                      <section>
                        <header>
                          <h3><strong>Cloud-Native</strong> Applications</h3>
                        </header>
                        <p>Writing stateless cloud-native applications can be very different from the patterns that enterprise developers may be used to.</p>
                        <p>Our engineers are cloud-native by default, and we can <strong>upskill</strong> others via <strong>pair-programming</strong> and <strong>training</strong> courses.</p>
                      </section>
                    </div>
                  </div>
                </section>
              </div>

          </section>

        <!-- Two -->
          <section class="wrapper style1 container special">
            <div class="row">
              {% include values-boxout.html %}
              {% include engineering-boxout.html %}
              {% include rate-boxout.html %}
            </div>
          </section>
          
      </article>
