---
layout: default
---

    <!-- Main -->
      <article id="main">

        <header class="special container">
          <span class="icon fa-wrench"></span>
          <h2>Software <strong>Engineering</strong></h2>
          <p>A disciplined and opinionated development practice enables us to deliver quality solutions.</p>
        </header>

        <!-- One -->
          <section class="wrapper style4 container clip">

            <!-- Content -->
              <div class="content">
                <section>
                  <header>
                    <h3>We do the <strong>most important</strong> thing, in the <strong>simplest</strong> way</h3>
                  </header>
                  <p>We work from a linear backlog that is regularly prioritised by the Product Owner with feedback from the engineering team. Engineers only ever pick stories from the top of backlog, ensuring that they are always working on the most valuable deliverable.</p>
                  <p>Engineers always “develop in the now” and do the simplest thing that works given the current constraints. We don’t engineer for requirements that might be important in the future - if they’re important, we’ll get to them soon enough and tackle them while they’re in the present.</p>
                  <p>Because we’re always working on the most important thing, and achieving it in the simplest way that works, you can have confidence that we’re not wasting your time. This is the basis of a key contract of trust between the engineering team and the Product Owner.</p>
                  <header>
                    <h3>We do not compromise on <strong>quality</strong></h3>
                  </header>
                  <p>We practice behaviour-driven development and test-first development so that we have utmost confidence that we are delivering working software that satisfies customers’ needs. We do not take any shortcuts which would mean that we have reduced confidence in the efficacy of our solutions. It either gets done properly, or not at all.</p>
                  <header>
                    <h3>We will <strong>not take fixed-price</strong>, fixed-date engagements</h3>
                  </header>
                  <p>We will use our experience to give an indication if a goal is achievable within a timeframe, and work with 100% commitment to make that happen. Given that we will always be taking the simplest route to the most important features, production solutions will be delivered as soon as possible.</p>
                  <p>As we do not compromise on quality, the remaining factors that affect how long a task takes are the complexity of the desired solution and the number of resources committed. The calendar has an impact on neither. We cannot predict the future, and it would be dishonest to pretend that we could.</p>
                  <header>
                    <h3>We <strong>do not provide time estimates</strong></h3>
                  </header>
                  <p>We estimate stories based on their complexity, and over a period of weeks and months gain data on how much complexity a team has processed. This gives an indication as to how much complexity the team can process in future.</p>
                  <p>If an engineer has repeated a task often enough to be able to accurately estimate the amount of time required to do it again, then the task should already have been automated or a re-usable solution delivered.</p>
                  <header>
                    <h3>We do just enough <strong>up-front design</strong></h3>
                  </header>
                  <p>We use the term test-first development to highlight the belief that purely test-driven development in a large distributed system can lead to emergent architecture which can be costly to move away from. We do enough up-front design to avoid ‘coding ourselves into a corner’, but not at the cost of delivering features.</p>
                  <header>
                    <h3>We <strong>manage technical debt</strong></h3>
                  </header>
                  <p>The technical solutions at the beginning of a product’s life are unlikely to stay the most suitable forever. Engineers keep a track of ‘pain points’ in the code, and have the authority and responsibility to address these in order to maintain the team’s velocity. The scheduling of tasks to address technical debt is a result of a relationship of trust and communication between the engineers and the Product Owner.</p>
                  <header>
                    <h3>We <strong>automate</strong> everything</h3>
                  </header>
                  <p>If it can be automated, it will be. There is no time for a manual procedure when production systems have gone down during peak hours. </p>
                  <header>
                    <h3>We have <strong>communal</strong> ownership</h3>
                  </header>
                  <p>All the engineers own all the code, and all the team own their tools and process. With this ownership comes a greater sense of investment and job satisfaction, and reduces the risk of human single-points-of-failure.</p>
                </section>
              </div>

          </section>

        <!-- Two -->
          <section class="wrapper style1 container special">
            <div class="row">
              {% include values-boxout.html %}
              {% include service-boxout.html %}
              {% include rate-boxout.html %}
            </div>
          </section>

      </article>
