---
layout: landing-page
---
		<!-- Main -->
			<article id="main">

				<header class="special container">
					<span class="icon fa-fast-forward"></span>
					<div class="6u -3u">
						<h2>Focus on delivering the applications that <strong>matter</strong> to your business.
						</h2>
						<p>We help organisations use <strong>Cloud Foundry</strong>, <strong>BOSH</strong> and <strong>Concourse</strong> by offering <strong>enablement through delivery</strong>, <strong>consultancy</strong> and <strong>training</strong>.</p>
						<p style="margin-top: 1em;">We work wth some of the world's biggest <strong>banks</strong>, global <strong>wealth&nbsp;management</strong> enterprises, <strong>FTSE 100</strong> retailers, non-profit organisations and <strong>software vendors</strong>.</p>
					</div>
				</header>

				<!-- One -->
					<section class="wrapper style1 container special">
						<div class="row">
							{% include values-boxout.html %}
							{% include service-boxout.html %}
							{% include engineering-boxout.html %}
						</div>
					</section>

				<!-- Two-->
					<section class="wrapper style3 container special clip">

						<header class="major">
							<h2>Learn about the <strong>leaders</strong>.</h2>
						</header>

						<div class="row">

							<div class="6u">

								<section>
									<img src="images/dany-avatar.jpg" alt="" class="circular" />
									<header>
										<h3>Dan Young - CEO</h3>
									</header>
									<p>With 15 years experience spanning enterprise, public sector and managed services
										Dan has run critical web operations, built international	carrier networks and
										consulted at board level on technology and organisational change. He has been working
										with Cloud Foundry since 2012. His previous roles include Director of Strategy and Architecture in Cloud
										Services for Daisy Group, the UK’s largest independent IT and Telecoms supplier.
										He's also worked as a Senior Consultant with EMC’s Global Alliances service provider
										team, helping some of the largest SPs in EMEA take new cloud services to market.
									</p>
								</section>

							</div>
							<div class="6u">

								<section>
									<img src="images/danj-avatar-square.jpg" alt="" class="circular" />
									<header>
										<h3>Daniel Jones - CTO</h3>
									</header>
									<p>A software engineer and consultant for 14 years, Daniel has
									previously worked on Cloud Foundry at Pivotal and CloudCredo,
									and has helped enterprises and startups adopt and operate Cloud Foundry in
									production. Throughout his career he has upskilled developers, introduced agile
									processes, run departments, commanded budgets of millions, and brought products
									to market.</p>
								</section>
							</div>
						</div>

					</section>

			</article>
