---
layout: landing-page
---
		<!-- Main -->
			<article id="main">

				<header class="special container">
					<span class="icon fa-fast-forward"></span>
					<h2>We help you deliver the software
						<br \>
						that <strong>matters</strong> to your business.
					</h2>
					<p>We do this through the use of Cloud Foundry PaaS
						<br \>
					and a proven, highly effective approach to software development.</p>
				</header>

				<!-- One -->
					<section class="wrapper style1 container special">
						<div class="row">
							{% include values-boxout.html %}
							{% include service-boxout.html %}
							{% include engineering-boxout.html %}
						</div>
					</section>

				<!-- Two-->
					<section class="wrapper style3 container special clip">

						<header class="major">
							<h2>Learn about the <strong>leaders</strong>.</h2>
						</header>

						<div class="row">
							
							<div class="6u">

								<section>
									<img src="images/dany-avatar.png" alt="" class="circular" />
									<header>
										<h3>Dan Young - CEO</h3>
									</header>
									<p>Dan has worked as a technical leader, consultant, engineer and PaaS enthusiast,
										with 15 years experience in enterprises and managed services.  Most recently,
										he held the role of Director of Strategy and Architecture in Cloud
										Services for Daisy Group, the UK’s largest independent IT and Telecoms supplier,
										and previously as a Senior Consultant with EMC’s Global Alliances service provider team,
										helping some of the largest SPs in EMEA take new services to market.
									</p>
								</section>

							</div>
							<div class="6u">

								<section>
									<img src="images/danj-avatar-square.jpg" alt="" class="circular" />
									<header>
										<h3>Daniel Jones - CTO</h3>
									</header>
									<p>A software engineer and consultant for 14 years, Daniel has
									previously worked on Cloud Foundry at Pivotal and CloudCredo,
									and has helped enterprises and startups adopt and operate Cloud Foundry in
									production. Throughout his career he has upskilled developers, introduced agile
									processes, run departments, commanded budgets of millions, and brought products
									to market.</p>
								</section>
							</div>
						</div>

					</section>

			</article>