---
layout: default
---

    <!-- Main -->
      <article id="main">

        <header class="special container">
          <span class="icon fa-chevron-right"></span>
          <h2>Would you like to work with us?</h2>
        </header>

        <!-- One -->
          <section class="wrapper style4 container clip">

            <!-- Content -->
              <div class="content">
                <section>

                  <h3>We're hiring</h3>
                  <p style="margin: 0 0 1em 0">
                  We're currently looking for people who can work in London and are either:
                    <ul>
                      <li>Keen, bright, and looking to <strong>become contractors</strong>;</li>
                      <li>Contractors with <strong>experience of Cloud Foundry</strong>, Bosh and Concourse.</li>
                    </ul>
                  </p>

                  <h3>What we offer</h3>
                  <p style="margin: 0 0 1em 0">
                    <ul>
                      <li>A day-rate of between &pound;300 and &pound;600, dependent what you bring to the table.</li>
                      <li><strong>Nice, inclusive people.</strong> We pair-program a lot so we all have to get along well.</li>
                      <li>A team built on <strong>trust and transparency</strong>, where what you believe is more important than what you know.</li>
                      <li>Interesting and <strong>rewarding work</strong>, with customers ranging from global brands to software startups.</li>
                      <li>Work that requires <strong>constant learning</strong> in a supportive environment.</li>
                      <li>A chance to make people better at making computers better.</li>
                    </ul>
                  </p>

                  <h3>Characteristics</h3>
                  <p style="margin: 0 0 1em 0">We want to work with people who share <a href="/business-values.html">our values</a> and fit this description:</p>
                  <ul>
                    <li>Positive, <strong>able to empathise</strong> and sociable, as we pair-program all day by default.</li>
                    <li><strong>Inclusive</strong> attitude.</li>
                    <li>Able to show courage in calling out things that need improving.</li>
                    <li>Eager to <strong>take responsibility</strong> - whilst we mentor via pairing, everyone is empowered and expected to make decisions.</li>
                    <li><strong>Keen to learn</strong> constantly - Cloud Foundry moves very quickly, so learning on-the-job is required.</li>
                    <li>Passionate about TDD, BDD and using Continuous Delivery to provide customer value.</li>
                  </ul>

                  <h3>Skills</h3>
                  <p style="margin: 0 0 1em 0">
                    We would expect <strong>less-experienced applicants</strong> to have the following technical background:
                    <ul>
                      <li>Comfortable working knowledge of the <strong>Linux command line</strong>.</li>
                      <li>Ability in <strong>one of Golang, Ruby or Java</strong>, with a desire to learn the others.</li>
                      <li>Experience writing tests in Ginkgo, Rspec, LambdaBehave or any other BDD framework.</li>
                      <li>Some appreciation of 12 Factor/Cloud Native applications.</li>
                      <li>Experience of using a Continuous Integration server (Concourse, Jenkins, Bamboo, TeamCity, Travis et al).</li>
                      <li>Rudimentary exposure to/understanding of IaaS/virtualisation/containerisation technologies such as AWS, vSphere, Docker.</li>
                    </ul>
                  </p>
                  <p style="margin: 0 0 1em 0">
                    For those who have <strong>more experience</strong> and expect a higher day-rate, we'd expect more of the following:
                    <ul>
                      <li><strong>Experience of Cloud Foundry</strong>, Bosh or Concourse (CI server).</li>
                      <li>Deep understanding of <strong>CAP, the Two General's Problem</strong> and distributed computing design challenges.</li>
                      <li>Proficiency in more languages (Golang, Ruby, Java, Bash).</li>
                      <li>Understanding/experience of provisioning tools such as Cloud Formation, Terraform, Chef, Puppet.</li>
                      <li>Ops experience (designing/operating networks, AWS infrastructure).</li>
                      <li>Background of consultancy.</li>
                    </ul>
                  </p>
                  <p>
                  Please <a href=mailto:contact@engineerbetter.com>contact us</a> if working with EngineerBetter sounds like something you'd be interested in.
                  </p>
                  </section>
              </div>

          </section>

        <!-- Two -->
          <section class="wrapper style1 container special">
            <div class="row">
              {% include service-boxout.html %}
              {% include engineering-boxout.html %}
              {% include rate-boxout.html %}
            </div>
          </section>

      </article>
