---
layout: default
---

    <!-- Main -->
      <article id="main">

        <header class="special container">
          <span class="icon fa-calculator"></span>
          <h2>Our <strong>rates</strong></h2>
          <p>Because we value honesty and transparency our rate card and terms are public for all to see.</p>
        </header>
          
        <!-- One -->
          <section class="wrapper style4 container clip">
          
            <!-- Content -->
              <div class="content">
                <section>
                  <header>
                    <h3>Rate card</h3>
                  </header>
                  
                  <div class="row">
                    <div class="8u 12u(narrower)">

                      <section>
                        <table class="default">
                          <tr>
                            <th></th>
                            <th>Engineering</th>
                            <th>Transformation</th>
                          </tr>
                          <tr>
                            <th>Senior</th>
                            <td>GBP(&pound;) 1,500</td>
                            <td>GBP(&pound;) 1,500</td>
                          </tr>
                          <tr>
                            <th>Standard</th>
                            <td>GBP(&pound;) 1,200</td>
                            <td>N/A</td>
                          </tr>
                        </table>
                      </section>

                    </div>
                    <div class="4u 12u(narrower)">
                      <section>
                        <p>Rates quoted <strong>exclude VAT</strong>, sales taxes, and expenses</p>
                      </section>
                    </div>
                  </div>

                  <header>
                    <h3>Role Definitions</h3>
                  </header>
                  <header>
                    <h4>Engineering</h4>
                  </header>
                  <p>Engineering staff work in pairs, collaborating on the same task in order to increase the quality of their output and share knowledge most effectively.</p>
                  <ul class="default">
                    <li><strong>Standard</strong>: All our engineers have the authority to make decisions in order to deliver test-driven code to agreed system behaviour definitions. Capable of taking code through the entire journey of story definition to production deployment.</li>
                    <li><strong>Senior</strong>: Able to serve as the interface point between the engineering team and the Product Manager. Responsible for maintaining the long-term velocity of the team, through the management of technical debt and ownership of the continuous improvement process.</li>
                  </ul>
                  <header>
                    <h4>Transformation</h4>
                  </header>
                  <p>A transformation consultant will work collaboratively with your executive team and business stakeholders, providing an advisory service. Their responsibility is to help shape the organisational context around PaaS, to deliver the desired business outcomes.</p>
                  <header>
                    <h3>Pricing Assumptions</h3>
                  </header>
                  <ul class="default">
                    <li>Working Week - <strong>Monday to Friday</strong>, excluding national holidays</li>
                    <li>Consultant’s Working Day - <strong>7.5 hours</strong>, exclusive of lunch and travel</li>
                    <li>Office Hours - <strong>0900-1730</strong>, Monday-Friday</li>
                    <li>Additional Hours - Additional hours are <strong>not to be worked</strong>, in accordance with our values</li>
                    <li>Equipment - Engineering teams are to be provided <strong>appropriate computer hardware</strong> and levels of access, at the client’s cost</li>
                    <li>Travel, Subsistence and Mileage - <strong>Included</strong> in day rate within M25, otherwise by agreement in advance</li>
                    <li>Professional Indemnity Insurance - <strong>Included</strong> in day rate</li>
                  </ul>
                  <header>
                    <h3>Payment Terms</h3>
                  </header>
                  <ul class="default">
                    <li>Work is undertaken on a <strong>Time and Materials</strong> basis only, invoicing monthly in arrears, based on hours worked as recorded in timesheets</li>
                    <li>Payments are to be made <strong>NET30</strong> on date of invoice</li>
                  </ul>
                </section>
              </div>

          </section>

        <!-- Two -->
          <section class="wrapper style1 container special">
            <div class="row">
              {% include values-boxout.html %}
              {% include service-boxout.html %}
              {% include engineering-boxout.html %}
            </div>
          </section>
          
      </article>
