---
layout: default
redirect_from:
  - /cloud-foundry.html
---

    <!-- Main -->
      <article id="main">

        <header class="special container">
          <span class="icon fa-cloud"></span>
          <h2><strong>What</strong> We Do</h2>
          <p>We offer holistic services to help you deliver value faster with Cloud Foundry.</p>
        </header>

        <!-- One -->
          <section class="wrapper style4 container clip">

            <div class="content">
              <section>
                <header>
                  <h2>Our <strong>work</strong></h2>
                </header>
                <p>We help organisations use <strong>Cloud Foundry</strong>, <strong>BOSH</strong> and <strong>Concourse</strong> by offering <strong>enablement through delivery</strong>, <strong>consultancy</strong> and <strong>training</strong>. Our customers include some of the world's biggest <strong>banks</strong>, global <strong>wealth management</strong> enterprises, <strong>FTSE 100</strong> retailers, non-profit organisations and <strong>software vendors</strong>.</p>
                <p style="margin: 0">We offer:</p>
                <ul>
                  <li>Enablement through delivery</li>
                  <li>Consultancy</li>
                  <li>Training</li>
                </ul>
                </section>
              </div>

            <div class="content">
                <header>
                  <h3>Enablement Through Delivery</h3>
                </header>
                <p>We enable customers to deliver business value faster with Cloud Foundry by <strong>pair-programming</strong> with their engineers over a number of months. We work from an <strong>ordered backlog</strong>, continuously delivering usable solutions into production.</p>
                <p>The approach of pair-programming is the most successful method for increasing knowledge in our customers' businesses whilst also delivering production systems.</p>
                <p style="margin: 0 0 1em 0">Examples of the solutions we've delivered include:</p>
                <ul>
                  <li>Concourse continuous delivery pipelines to stand up entire Cloud Foundry environments</li>
                  <li>Cloud Foundry buildpacks</li>
                  <li>Service brokers, BOSH releases and Pivotal Cloud Foundry tiles</li>
                  <li>Utilities to make operating Cloud Foundry easier</li>
                </ul>

                <header>
                  <h3>Consultancy</h3>
                </header>
                <p>We also offer advice and guidance on the use of <strong>Cloud Foundry, BOSH and Concourse</strong>, <strong>continuous delivery</strong> of <strong>cloud-native microservices</strong>, and the <strong>organisational change</strong> required to deliver business value faster.</p>

                <header>
                  <h3>Training</h3>
                </header>
                <p>We provide on-site hands-on, instructor-led <strong>Cloud Foundry training</strong>. In fact, the Cloud Foundry Foundation asked us to provide <a href="https://cfsummiteu2016.sched.org/event/7qxA/training-cloud-foundry-for-beginners-from-zero-to-hero-dan-young-daniel-jones-peter-jones-engineerbetter-additional-fee-required-to-attend">training at Cloud Foundry Summit Frankfurt</a>.</p>
              </div>

          </section>

        <!-- Two -->
          <section class="wrapper style1 container special">
            <div class="row">
              {% include values-boxout.html %}
              {% include engineering-boxout.html %}
              {% include rate-boxout.html %}
            </div>
          </section>

      </article>
