---
layout: default
---

    <!-- Main -->
      <article id="main">

        <header class="special container">
          <span class="icon fa-chevron-right"></span>
          <h2>Would you like to work with us?</h2>
        </header>

        <!-- One -->
          <section class="wrapper style4 container clip">

            <!-- Content -->
              <div class="content">
                <section>
                  <header>

                  <h3>What do we offer?</h3>
                  </header>
                  <p>
                  <ul>
                  <li>A team built on trust and transparency, where what you believe is more important than what you know.</li>
                  <li>Interesting and rewarding work, with customers ranging from global brands to software startups.</li>
                  <li>A chance to make people better at making computers better.</li>
                  </ul>
                  </p>

                  <h3>Who are we looking for?</h3>
                  <p>
                  We're currently looking to have conversations with contractors, or people interested in becoming contractors.
                  </p>
                  <p>
                  We’re looking for people who are happy to integrate into customer teams, working on site mainly in the London area,
                  usually on a 3-6 month basis.
                  </p>
                  <p>
                  Above all else, we’d like to find people who share <a href="/business-values.html">our values</a>.
                  </p>
                  <p>
                  In terms of skills and background, we’re looking for the following:
                  <ul>
                  <li>Experience with Cloud Foundry, BOSH and the surrounding technology ecosystem</li>
                  <li>Experience of pairing and working in agile teams</li>
                  <li>TDD, especially in Java, Go or Ruby</li>
                  <li>Familiarity with continuous delivery</li>
                  </ul>
                  </p>
                  <p>
                  If working with EngineerBetter sounds like something you'd be interested in, then please <a href=mailto:contact@engineerbetter.com>let us know</a>.
                  </p>
                  </section>
              </div>

          </section>

        <!-- Two -->
          <section class="wrapper style1 container special">
            <div class="row">
              {% include service-boxout.html %}
              {% include engineering-boxout.html %}
              {% include rate-boxout.html %}
            </div>
          </section>

      </article>
