    <!-- CTA -->
      <section id="cta">

        <header>
          <h2><strong>Contact Us</strong></h2>
        </header>
        <div class="inner clip">
          <h3>Ready to <strong>make things better</strong>?</h3>
          <strong>Call us:</strong> +44 (0)20 7846 0140<br />
          <strong><a href="mailto:contact@engineerbetter.com">contact@engineerbetter.com</a>
          </strong>
        </div>
        <p></p>
              <div class="inner clip">
                <h3><strong>Get Email Updates</strong></h3>
              <form action="//engineerbetter.us13.list-manage.com/subscribe/post?u=d6370be2b5a6eeaf195cd9445&amp;id=1e4090aa8c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                  <div class="mc-field-group">
                    <label for="mce-EMAIL">Your Email Address</label>
                    <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
                  </div>
                    <div id="mce-responses" class="clear">
                      <div class="response" id="mce-error-response" style="display:none"></div>
                      <div class="response" id="mce-success-response" style="display:none"></div>
                    </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_d6370be2b5a6eeaf195cd9445_1e4090aa8c" tabindex="-1" value=""></div>
                      <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                    </div>
              </form>
             </div>

      </section>
