              <div class="4u">

                <section>
                  <a href="/engineering-values.html">
                    <span class="icon featured fa-wrench"></span>
                    <header>
                      <h3>Software Engineering</h3>
                    </header>
                  </a>
                  <p>
                    Our process is driven by a clear set of principles and practices,
                    built from complementary elements of eXtreme Programming, Kanban and Lean.
                  </p>
                  <footer>
                    <ul class="buttons">
                      <li><a href="/engineering-values.html" class="button small special">Learn More</a></li>
                    </ul>
                  </footer>
                </section>

              </div>
