              <div class="4u">
              
                <section>
                  <a href="/rate-card.html">
                    <span class="icon featured fa-calculator"></span>
                    <header>
                      <h3>Our Rates</h3>
                    </header>
                  </a>
                  <p>Because we value honesty and transparency our rate card and terms are public for all to see. We don't have sales people to stand between you and information.</p>
                  <footer>
                    <ul class="buttons">
                      <li><a href="/rate-card.html" class="button small special">Learn More</a></li>
                    </ul>
                  </footer>
                </section>
              
              </div>