              <div class="4u">

                <section>
                  <a href="/cloud-foundry.html">
                    <span class="icon featured fa-cloud"></span>
                    <header>
                      <h3>Cloud Foundry</h3>
                    </header>
                  </a>
                  <p>We specialise in making Cloud Foundry operable in your organisation.
                    Our aim is to get you from code to user feedback as fast as possible.</p>
                  <footer>
                    <ul class="buttons">
                      <li><a href="/cloud-foundry.html" class="button small special">Learn More</a></li>
                    </ul>
                  </footer>
                </section>
              
              </div>