      <header id="header">
      <h1>The UK Cloud Foundry Specialists</h1>
      <nav id="nav" class="short-nav">
          <ul>
            <li><a href="/blog.html">Blog</a></li>
            <li><a href="/business-values.html">Values</a></li>
            <li><a href="/cloud-foundry.html">Cloud Foundry</a></li>
            <li><a href="/engineering-values.html">Engineering</a></li>
            <li><a href="/work-with-us.html">Work with us</a></li>
            <li><a href="/rate-card.html">Rates</a></li>
          </ul>
        </nav>
      </header>
