      <header id="header">
        <h1 id="logo"><a href="/"><img src="/images/engineerbetter-logo-clipped-inline.svg" alt="EngineerBetter logo"></a></h1>
        <nav id="nav">
          <ul>
            <li><a href="/blog.html">Blog</a></li>
            <li><a href="/business-values.html">Values</a></li>
            <li><a href="/cloud-foundry.html">Cloud Foundry</a></li>
            <li><a href="/engineering-values.html">Engineering</a></li>
            <li><a href="/rate-card.html">Rates</a></li>
          </ul>
        </nav>
      </header>
